

form{
	width: 45%;
	border: 8px solid #ccc;
	margin:25px;
	padding: 20px;
}
label {
	font-size: 12px;
	display: block;
	width: 100%;
}
input, textarea{
	margin-bottom: 20px;
	width: 90%;
	padding: 10px;
	box-sizing: content-box;
	border: 1px solid #ccc;

}
input[type="submit"]{
	margin-bottom: 0;
	background: #81c0b1;
	color: #fff;
	border: none;	
}
input[type="submit"]:hover